* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
} 

/* colors

Space Cadet (purp) #39375B
Beau Blue #BDD4E7
Cool Grey #8693AB

*/

.image { 
  display: block;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: 25%;
  margin-top: 50px;
  margin-bottom: 10px;
}

.screenshot {
  display: block;
  width: 35%;
  height: 25%;
  border-radius: 2px;
}

.green {
  color: #BDD4E7;
}

.center {
  text-align: center;
}

main {
  background-color: #8693AB;
  font-family: Ubuntu;
}

header{
  padding: .1em 0;
  background-color: #39375b;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 10;
}

h2,
h3 {
  font-family: Ubuntu;
}

h1 {
  font-family: Ubuntu;
  font-size: 22pt;
  /* padding: 1px;  */
  /* text-shadow: 2px 2px 2px #CBDFBD; */
}

h2 {
  font-size: 12pt;
}

.icons{
  height: 30px;
  text-align: right;
}

.icon1 img{
  width: 16px;
}

ul li{
  list-style: none;
}

.icons li, .menu li{
  display: inline-block;
  padding: 0 .5em;
}

.list,
p {
  font-family: Ubuntu;
  font-size: 11pt;
  margin-left: 15%;
  margin-right: 15%;
}



footer {
  padding: 20px;
  color: #BDD4E7;
  background-color: #393758;
}

ol {
  font-family: Ubuntu;
}

iframe {
  display: block;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 65%;
  height: 400px;
  padding: 10px;
  border: 0;
}

hr {
  width: 70%;
  height: 2px;
  color: #BDD4E7;
  border-style: double;
}

a:link {
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: blueviolet;
}
a:active {
  color: blanchedalmond;
}
